@font-face {
    font-family: 'nexa_boldregular';
    src: url('../fonts/Nexa_Free_Bold-webfont.eot');
    src: url('../fonts/Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Nexa_Free_Bold-webfont.woff2') format('woff2'),
    url('../fonts/Nexa_Free_Bold-webfont.woff') format('woff'),
    url('../fonts/Nexa_Free_Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body{
    position: relative;
    height: 100%;
    margin: 0;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/*header*/
header{
    height: 740px;
    background-image: url("../image/header-background.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    background-color: dimgray;
}
.header-nav{
    min-height: 40px;
}
.big-logo{
    display: inline-block;
    width: 114px;
    height: 28px;
    margin-top: 18px;
    background-image: url("../image/logo.png");
}
.header-menu{
    float: right;
}
.header-menu {
    list-style: none;
}
.header-menu li{
    display: inline-block;
    
    white-space: nowrap;
}
.header-menu a{
    margin-right: 35px;
    font-family: 'nexa_boldregular';
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    line-height: 28px;
    color: #ffffff;
}
.header-menu .reservation{
    padding-top: 8px;
    padding-right: 33px;
    padding-bottom: 8px;
    padding-left: 19px;
    border-radius: 30px;
    font-family: 'nexa_boldregular';
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    color: #ffffff;
    background-color: #1db1ae;
}
.reservation .reservation-counter{
    font-size: 11px;
    margin-top: 0;
    margin-right: 8px;
    margin-bottom: 0;
    margin-left: 6px;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'nexa_boldregular';
    line-height: 1.5;
}
.main-search-block{
    margin-top: 150px;
    text-align: center;
    color: #ffffff;
}
h1{
    font-size: 42px;
    color: #ffffff;
    text-transform: uppercase;
}
.how-it-works{
    padding: 5px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    text-decoration: none;
}
/*main*/
main{
    padding-top: 55px;
    padding-bottom: 55px;
    text-align: center;
    background-color: #efefef;
}
h2{
    font-size: 30px;
    color: #242424;
    text-transform: uppercase;
}
.promo{
    margin-top: 60px;
    font-size: 0;
}
.promo-item{
    display: inline-block;
    margin-right: 24px;
    height: 442px;
    font-size: 15px;
    background-color: #ffffff;
}
.promo-item:last-child{
    margin-right: 0;
}
.promo-item-photo{
    position: relative;
    margin-bottom: 50px;
    width: 267px;
    height: 180px;
}
.size-image{
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: 99;
    bottom: -30px;
    left: calc(50% - 30px);
}
.promo-item-name{
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    color: #1db1ae;
    font-weight: 600;
}
.promo-item-address{
    margin: 0;
    font-size: 15px;
    line-height: 20px;
    color: #242424;
    font-weight: 400;
}
.promo-item-town,
.promo-item-square{
    margin: 0;
    font-size: 11px;
    line-height: 20px;
    color: #8c8c8c;
    font-weight: 400;
}
.promo-item-square{
    margin-left: 5px;
}
.promo-item-square::before{
    margin-right: 5px;
    content: '•';
}
.price{
    border-top: 1px solid #efefef;
}
.price-item{
    font-size: 17px;
    line-height: 20px;
    color: #242424;
    font-weight: 700;
}
.rental-time{
    font-size: 12px;
    line-height: 17px;
    color: #8c8c8c;
    font-weight: 400;
}
.price-read-more{
    padding: 5px 10px;
    font-size: 11px;
    line-height: 17px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #1db1ae;
    border-radius: 15px;
}
/*promo-info*/
.promo-info{
    background-color: #95e7d1;
}
.promo-info-item{
    height: 583px;
    padding-top: 150px;
    background-image: url("../image/room.svg");
    background-repeat: no-repeat;
    background-position-y: 150px;
    background-position-x: 100px;
}
.promo-banner-image,
.promo-banner-text{
    display: inline-block;
}
.promo-banner-image{
    margin: 0 100px;
    width: 387px;
    height: 384px;
}
.promo-banner-text{
    margin-left: 587px;
    width: 460px;
}
.promo-info h3{
    font-size: 40px;
    line-height: 45px;
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
}
.promo-banner-description{
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 400;
}
/*slider-sizes*/
/*input styling*/
.slider-sizes input[type=range]{
    width: 100%;
}
.slider-sizes input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
.slider-sizes  input[type=range]:focus {
  outline: none;
}
.slider-sizes input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #95e7d1;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.slider-sizes input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
.slider-sizes input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
.slider-sizes input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #95e7d1;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.slider-sizes input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
.slider-sizes input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.slider-sizes input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.slider-sizes input[type=range]::-ms-fill-upper {
  background: #95e7d1;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.slider-sizes input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
.slider-sizes input[type=range]:focus::-ms-fill-lower {
  background: #95e7d1;
}
.slider-sizes input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

.slider-sizes{
    min-height: 150px;
    background-color: #ffffff;
}
.slider-sizes-item{
    list-style: none;
}
.slider-sizes-item li{
    display: inline-block;
    margin-right: 195px;
    text-align: center;
    font-size: 0;
    white-space: nowrap;
}
.slider-sizes-item li:last-child{
    margin-right: 0;
}
.slider-sizes-size{
    margin-bottom: 0;
    font-size: 22px;
    line-height: 27px;
    color: #242424;
    font-weight: 800;
    text-transform: uppercase;
}
.slider-sizes-persons{
    font-size: 12px;
    line-height: 22px;
    color: #8c8c8c;
    font-weight: 600;
}
.testimonials{
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    background-color: #1db1ae;
    color: #ffffff;
}
.testimonials h4{
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
}
.testimonials-item{
    display: inline-block;
    margin-right: 80px;
    width: 255px;
}
.testimonials-item:last-child{
    margin-right: 0;
}
.testimonials-item-review{
    margin-bottom: 35px;
    padding-right: 5px;
    padding-bottom: 35px;
    padding-left: 5px;
    border-bottom: 3px solid #ffffff;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 400;
}
.testimonials-item-review-autor-name p{
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 600;
}
.testimonials-item-review-autor-name span{
    font-size: 14px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 400;
}
/* media */
@media screen and (max-width: 1140px) {
    .container{
        padding-right: 10px;
        padding-left: 10px;
    }
    .promo-item{
        margin-bottom: 25px;
        margin-left: 25px;
    }
    .promo-item:last-child{
        margin-right: 25px;
    }
    .promo-banner-text{
        margin-left: 500px;
    }
}
@media screen and (max-width: 1024px) {
    .promo-info-item{
        height: 300px;
        padding-top: 0px;
        background-size: 200px;
        background-position-y: 45px;
        background-position-x: 25px;
    }
    .promo-banner-text {
        margin-left: 250px;
    }
    .slider-sizes-item li {
        margin-right: 95px;
    }
    .testimonials {
        padding-top: 5px;
    }
    .testimonials h4 {
        margin-bottom: 0;
    }
    .testimonials-item {
        margin-right: 25px;
        margin-left: 25px;
    }
    .testimonials-item:last-child{
        margin-right: 25px;
        margin-left: 25px;
    }

}
@media screen and (max-width: 768px){
    header {
        height: 560px;
    }
    .container>h2{
        margin-bottom: -20px;
    }
    main {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .promo-info-item{
        height: auto;
        padding-top: 80px;
        background-size: 100px;
        background-position-y: 10px;
        background-position-x: 50%;
        text-align: center;
    }
    .promo-banner-text {
        margin-right: 10px;
        margin-left: 10px;
        width: 400px
    }
    .promo-info h3 {
        margin-bottom: -20px;
    }
    .slider-sizes-item li {
        margin-right: 5px;
        border-right: 1px dotted #000000;
    }

}
@media screen and (max-width: 479px){

}